<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../style/style.css">
    <title>formulario de inscripcion</title>
</head>
<body>
  <!--header-->  

  <header><div><h1>M E R L O  S A N  L U I S</h1>
<h2></h2>
</div></header>

<!--navbar-->
<nav class="navbar">
    <a href="../../index.html">INICIO</a>
    <A href="">IMAGENES</A>
    <A href="public/views/formulario.html"target="blank">COMPLETA EL REGISTRO PARA OBTENER OFERTAS DE VIAJES </A>
</nav>
<!--formulario-->
<form>
    <fieldset>
        <legend>formulario de registro</legend>
        <label for="nombre">nombre</label>
        <input type="text"name="name"id="nombre">

        <label for="apellido">apellido</label>
        <input type="text"name="name" id="apellido">
        
        <label for="email">email</label>
        <input type="email"name="email" id="email">

        <label for="pass">contraseña</label>
        <input type="password"name="contraseña" id="pass" required>

        <label for="fecha">fecha de nacimiento</label>
        <input type="date" name="date" id="fecha">

        <input type="submit" value="registrarse">
        <input type="reset" value="borrar">

    </fieldset>
</form>
<br>
<br> <a href=""class="imagenj"><img src="../img/cabañas merlo 3.jpg"alt="cabañas 3"></a>
</body>
</html>